<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
  <title>Doum : 생활기록부 도서 추천</title>
</head>
<style>
  body,p{
    margin: 0;
  }
  body{
    background-color: #EFF1F3;
    font-family: 'GmarketSansLight';
  }
  @font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
</style>
<style>
  #main{
    width: 100vw;
    height: 100vh;

    margin: auto;
  }
  .header{
    text-align: center;
    font-family: 'GmarketSansBold';
    font-size: 25px;

    position: relative;
    top: 30px;

    cursor: pointer;
  }
  .main{
    width: 45vw;
    height: 85vh;

    position: relative;
    top: 70px;
    left: calc(50% - 22.5vw);
  }
  .question{
    margin-bottom: 3vh;

    font-size: 25px;
    font-family: 'GmarketSansBold';
  }
  .choice{
    margin-top: 3vw;
    margin-bottom: 3vw;

    font-size: 25px;
    line-height: 100%;

    word-break: keep-all;
  }
  .choice_p{
    line-height: 220%;
  }
  .choice_m{
    line-height: 220%;

    display: none;
  }
  label{
    cursor: pointer;
  }
  .atc{
    width: 100%;
    height: 15vw;

    padding-top: 5vw;

    text-align: center;
  }
  .next{
    width: 270px;
    height: 60px;

    color: white;
    font-size: 20px;
    background-color: black;

    border-radius: 10px;

    position: relative;
    left: calc(50% - 135px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
  .next:hover{
    /* background-color: linear-gradient(to left,#726AF9,#00B0F0); */
    background-color: grey;
  }
  .by{
    text-align: center;
    font-size: 13px;

    margin-top: 3vw;

    cursor: pointer;
  }
</style>
<style> /* media */
  @media(max-width: 500px){
    .main{
      width: 100vw;
      height: auto;

      position: relative;
      top: 70px;
      left: calc(50% - 50vw);
    }
    .header{
      font-size: 140%;
    }
    .question{
      margin-left: 10vw;
      font-size: 120%;
    }
    .choice{
      margin-top: 9vw;
      margin-left: 10vw;
      margin-bottom: 30vw;
      line-height: 120%;

      font-size: 120%;
    }
    .choice_p{
      display: none;
    }
    .choice_m{
      display: block;
    }
    .atc{
      height: 25vw;
    }
    .next{
      width: 60vw;
      height: 13vw;

      font-size: 100%;

      position: relative;
      left: calc(50% - 30vw);
    }
    .by{
      margin-top: 6vw;
      font-size: 2vw;
    }
  }
</style>
<body style="overflow-x: hidden; overflow-y: auto;">
  <div id="main" style="float: left;">
    <p class="header" onclick="location.href='/'">Doum</p>
    <div class="main">
      <p class="question">세부 학과 계열을 선택해주세요.</p>
      <div class="choice">
        {% if division == 0 %}
        <input type="radio" id="uni_01" name="subdivision" value="0" onclick="oneradio(this)"><label for="uni_01"> 기초과학</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">대기과학과, 물리학과, 미생물학과, 바이오동물학과, 생명공학과, 수학과, 식량자원학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">대기과학과, 물리학과, 미생물학과, 바이오동물학과, 생명공학과, 수학과, 식량자원학과</p>
        <br>
        <input type="radio" id="uni_02" name="subdivision" value="1" onclick="oneradio(this)"><label for="uni_02"> 농림수산</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">동물자원학과, 수산학과, 식물자원학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">동물자원학과, 수산학과, 식물자원학과</p>
        <br>
        <input type="radio" id="uni_03" name="subdivision" value="2" onclick="oneradio(this)"><label for="uni_03"> 생활과학</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">생활문화과, 외식조리과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">생활문화과, 외식조리과</p>
        {% endif %}
        {% if division == 1 %}
        <input type="radio" id="uni_01" name="subdivision" value="0" onclick="oneradio(this)"><label for="uni_01"> 의학</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">수의학과, 의료정보공학과, 의예과, 의용공학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">수의학과, 의료정보공학과, 의예과, 의용공학과</p>
        <br>
        <input type="radio" id="uni_02" name="subdivision" value="1" onclick="oneradio(this)"><label for="uni_02"> 약학</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">약학부</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">약학부</p>
        <br>
        <input type="radio" id="uni_03" name="subdivision" value="2" onclick="oneradio(this)"><label for="uni_03"> 간호</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">간호과, 간호학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">간호과, 간호학과</p>
        <br>
        <input type="radio" id="uni_04" name="subdivision" value="3" onclick="oneradio(this)"><label for="uni_04"> 보건</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">물리치료과, 방사선과, 보건관리학과, 보건행정과, 산업안전과, 소방안전관리과, 예술치료학과, 응급구조과, 임상병리과, 재활학과, 치기공과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">물리치료과, 방사선과, 보건관리학과, 보건행정과, 산업안전과, 소방안전관리과, 예술치료학과, 응급구조과, 임상병리과, 재활학과, 치기공과</p>
        {% endif %}
        {% if division == 2 %}
        <input type="radio" id="uni_01" name="subdivision" value="0" onclick="oneradio(this)"><label for="uni_01"> 교통</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">교통공학과, 해양공학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">교통공학과, 해양공학과</p>
        <br>
        <input type="radio" id="uni_02" name="subdivision" value="1" onclick="oneradio(this)"><label for="uni_02"> 기계</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">IT융합학과, 기계공학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">IT융합학과, 기계공학과</p>
        <br>
        <input type="radio" id="uni_03" name="subdivision" value="2" onclick="oneradio(this)"><label for="uni_03"> 전기</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">게임공학과, 게임콘텐츠과, 국방기술과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">게임공학과, 게임콘텐츠과, 국방기술과</p>
        <br>
        <input type="radio" id="uni_04" name="subdivision" value="3" onclick="oneradio(this)"><label for="uni_04"> 토목</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">건설정보과, 건축설비과, 건축학과, 도시건설과, 물류시스템공학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">건설정보과, 건축설비과, 건축학과, 도시건설과, 물류시스템공학과</p>
        <br>
        <input type="radio" id="uni_05" name="subdivision" value="4" onclick="oneradio(this)"><label for="uni_05"> 화학</label>
        <p class="choice_p" style="margin-left: 25px; font-size: 60%">고분자공학과, 공업화학과, 광학공학과, 금속공학과, 금형설계과, 나노공학과, 식품공학과</p>
        <p class="choice_m" style="margin-left: 27px; font-size: 60%">고분자공학과, 공업화학과, 광학공학과, 금속공학과, 금형설계과, 나노공학과, 식품공학과</p>
        {% endif %}
      </div>
      <script>
        var selSubject = '';	
        function oneradio(a){	
        var obj = document.getElementsByName("subdivision");	
        for(var i=0; i<obj.length; i++){	
        if(obj[i] != a){	
        obj[i].checked = false;	
            }	
          }	
          selSubject = a.value	
        }
        function goNext(){	
          if (!selSubject) {	
            alert('세부 학과 계열을 선택해주세요.');	
          } else {	
            window.location = '/page4/{{division}}/' + selSubject;	
          }	
        }	
      </script>
      <div class="atc">
        <p class="next" onclick="goNext()" style="cursor:pointer;">다음 페이지로 이동</p>
        <p class="by">Made by. Team COS (공나현, 김다솔, 홍지우)</p>
      </div>
    </div>
  </div>
</body>
</html>