<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
  <title>Doum : 생활기록부 도서 추천</title>
</head>
<style>
  body,p{
    margin: 0;
  }
  body{
    background-color: #EFF1F3;
    font-family: 'GmarketSansLight';
  }
  @font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
</style>
<style>
  #main{
    width: 100vw;
    height: 100vh;

    margin: auto;
  }
  .header{
    text-align: center;
    font-family: 'GmarketSansBold';
    font-size: 25px;

    position: relative;
    top: 30px;

    cursor: pointer;
  }
  .main{
    width: 45vw;
    height: auto;

    position: relative;
    top: 70px;
    left: calc(50% - 22.5vw);
  }
  .question{
    margin-bottom: 3vh;

    font-size: 25px;
    font-family: 'GmarketSansBold';
  }
  .book{
    width: 45vw;
    height: 12.5vw;

    margin-bottom: 3vw;
    
    border-radius: 30px;
    box-shadow: 7px 7px 30px #b0b0b3c0, -7px -7px 30px #ffffff;
  }
  .book:hover{
    box-shadow: 5px 5px 100px #b0b0b3c0, -5px -5px 100px #ffffff;
  }
  .info{
    width: 42vw;
    height: 11vw;

    padding: 1vw 3vw;

    position: relative;
    left: calc(50% - 24vw);
  }
  .image{
    height: 10.5vw;

    margin-right: 0.5vw;

    border-radius: 15px;
  }
  .about{
    width: 30vw;
    font-size: 15px;
    line-height: 180%;

    vertical-align: 6vw;
  }
  .title{
    width: 34vw;

    font-family: 'GmarketSansMedium';
    font-size: 20px;
    
    word-break: keep-all;
  }
  .atc{
    width: 100%;
    height: 4vw;

    font-size: 13px;
    text-align: center;
  }
</style>
<style> /* media */
  @media(max-width: 500px){
    .main{
      width: 100vw;
      height: auto;

      position: relative;
      top: 70px;
      left: calc(50% - 50vw);
    }
    .header{
      font-size: 140%;
    }
    .question{
      margin-left: 10vw;
      font-size: 120%;
    }
    .book{
      width: 82vw;
      height: 40vw;

      margin-bottom: 6vw;

      position: relative;
      left: calc(50% - 40vw);

      border-radius: 15px;
    }
    .info{
      width: 72vw;
      height: 32vw;

      padding: 4vw 3vw;

      position: relative;
      left: calc(50% - 40vw);
    }
    .image{
      height: 30vw;
      margin-top: 1vw;
      border-radius: 5px;
    }
    .about{
      vertical-align: 2vw;
      font-size: 10px;
    }
    .title{
      width: 52vw;
      height: 16vw;
      margin-bottom: 1vw;
      line-height: 130%;
      font-size: 14px;
    }
    .ap{
      width: 52vw;
    }
    .by{
      margin-top: 9vw;
      font-size: 2vw;
    }
  }
</style>
<body style="overflow-x: hidden; overflow-y: auto;">
  <div id="main" style="float: left;">
    <p class="header" onclick="location.href='/'">Doum</p>
    <div class="main">
      <p class="question">원하는 도서를 선택해주세요.</p>
      <div class="books">
        {%for book in books%}
        <!-- {% set score = '%.1f' % (5 * book.score) %} -->
        {% set score = '%.1f' % (5 * book.rate) %}
        <div class="book" onclick="location.href='/page6/{{division}}/{{subdivision}}/{{department}}/{{book.id}}/{{score}}'">
          <div class="info">
            <img class="image" src="{{book.image}}" alt="book">
            <div class="about" style="display: inline-block;">
              <p class="title">{{book.title}}</p>
              <p class="ap">{{book.author}} / {{book.publish}}</p>
              <!-- <p class="subject">관련 과목 : {{book.department}}</p> -->
              <p class="points">평점  : {{score}} / 5.0</p>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="atc">
        <p class="by">Made by. Team COS (공나현, 김다솔, 홍지우)</p>
      </div>
    </div>
  </div>
</body>
</html>